.form {
    top: 10px;
    left: 30%;
    width: 40%;
    height: 265px;
    background-color: beige;
}

.div .div-votes {
    left: 1000px;
}
.ui.grid {
    margin-top: 0;
    margin-bottom: 0;
    width: 350px;
    left: 35%;
}

.ui.grid>.row {
    top: 60px;
    left: 0%;
    /*background-color:tomato;*/
    border-radius: 10px;
    margin-bottom: 10px;
}